#root{background-color: coral; width: 95%; height: 95%; margin:auto}
.simpleCentrate{display:flex; justify-content:center; align-items:center; text-align: center;}

.flexible{display: flex;}

.tittle{color:rgb(250, 251, 253)}

.base{background: #6B22FF;
    display: flex; flex-direction: column; align-items: center; 
    width: 35%; height: 60%; padding: 0.7vw; margin-top: 1%;
}
.mainTask{
    background: #4298df;
    margin: 1vw;
}
.inner{background:#4298df;
    display: flex; align-items: center; flex-direction: column; 
    width: 100%; height: 40%; margin: 2%; padding: 1.5vw;
}
.smallInner{    background: #936EB0;
    display: flex;  align-items: center; flex-direction: column;
    width: 100%; height: 30%; margin: 2%; padding: 3vw;
}
.btton{ display: flex; flex-direction: row; align-items: center;
    margin: 5px; padding: 10px;
}
.taskStyles{    background: #6B22FF;
    display: flex; flex-direction: column; align-items: center;
    width: 55%; height: 80%; padding: 1.5vw; margin-top: 1%;
}
.modalInput{    display:flex;width:100%;height:30%;padding:0.5vw;margin:1%;}
.btnBox{    display: flex; flex-direction: row; align-items: center;}
.view{  background:#6B22FF;    visibility: hidden; opacity: 0;
    display: flex; position: absolute; left: 35%; top: 0%; flex-direction: column; align-items: center;
    width: 65%; height: 100%; padding: 1.5vw; z-index:100;
    transition: all 0.3s;
   
}
.modalEdit{  background:#2353BB;    visibility: hidden;
    display: flex; position: absolute; left: auto; top: auto; flex-direction: column; align-items: center;
    width: 100%; height: 100%; padding: 1.5vw; z-index:200;
    transition: all 0.3s;
}
.viewTittle{display: flex; width: 90%; justify-content: center;}